<nav></nav>
<section id="welcome">
    <p>home works!</p>
</section>
<section id="skill">
    <div class="grid">
        <app-skill-button class="div1" [imagePath]="'assets/developpement-web.png'" [technology]="'HTML/CSS'"></app-skill-button>
        <app-skill-button class="div2" [imagePath]="'assets/angular-logo.png'" [technology]="'Angular'"></app-skill-button>
        <app-skill-button class="div3" [imagePath]="'assets/python.png'" [technology]="'Python'"></app-skill-button>
        <app-skill-button class="div4" [imagePath]="'assets/java.png'" [technology]="'Java'"></app-skill-button>
        <app-skill-button class="div5" [imagePath]="'assets/c-sharp.png'" [technology]="'C#'"></app-skill-button>
        <app-skill-button class="div6" [imagePath]="'assets/Blazor.png'" [technology]="'Blazor'"></app-skill-button>
        <app-skill-button class="div7" [imagePath]="'assets/sql.png'" [technology]="'SQL'"></app-skill-button>
        <app-skill-button class="div8" [imagePath]="'assets/git.png'" [technology]="'Git'"></app-skill-button>
        <app-skill-button class="div9" [imagePath]="'assets/figma.png'" [technology]="'Figma'"></app-skill-button>
    </div>
</section>
<section id="work"></section>
<section id="contact"></section>
<footer></footer>