<nav></nav>
<section id="welcome">
    <p>home works!</p>
</section>
<section id="skill">
    <app-skill-button [imagePath]="'assets/discord.svg'" [technology]="'HTML/CSS'"></app-skill-button>
    <app-skill-button [imagePath]="'assets/email.svg'" [technology]="'Angular'"></app-skill-button>
    <app-skill-button [imagePath]="'assets/github.svg'" [technology]="'SQL'"></app-skill-button>
    <app-skill-button [imagePath]="'assets/linkedin.svg'" [technology]="'Python'"></app-skill-button>
    <app-skill-button [imagePath]="'assets/discord.svg'" [technology]="'C#'"></app-skill-button>
</section>
<section id="work"></section>
<section id="contact"></section>
<footer></footer>